<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title">Modal Header</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <select id="selectProduct" class="mdb-select md-form">
            <option value="Pants">Pants</option>
            <option value="Shirts">Shirts</option>
            <option value="TShirts">T-shirts</option>
        </select>

        <select id= "selectX" class="mdb-select md-form">
            <option value="size">Size</option>
            <option value="quantity">Quantity</option>
            <option value="purchaseddate">Purchased Date</option>
            <option value="price">Price</option>
        </select>

        <select id="selectY" class="mdb-select md-form">
            <option value="size">Size</option>
            <option value="quantity">Quantity</option>
            <option value="purchaseddate">Purchased Date</option>
            <option value="price">Price</option>
        </select>

      </div>
      <div class="modal-footer">
          <button id="chartSubmit" type="button" class="btn btn-secondary" >Submit</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
